@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");

main .main-section .top-section {
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
}

main .main-section .top-section > h2 {
	font-family: 'PT Sans', sans-serif;
	display:     -webkit-box;
	display:     -ms-flexbox;
	display:     flex;
	color:       #34495E;
	margin:      auto;
	font-size:   1.5em;
	padding:     1rem 2rem;
}

main .main-section .top-section .search-panel {
	width:   100%;
	border:  2px solid #2D3436;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

main .main-section .top-section .search-panel form {
	font-family: 'Roboto Condensed', sans-serif;
	display:     -webkit-box;
	display:     -ms-flexbox;
	display:     flex;
	width:       100%;
}

main .main-section .top-section .search-panel form select {
	-webkit-transition: .1s;
	transition:         .1s;
}

main .main-section .top-section .search-panel form select:active {
	background: url(../img/select_arrow.png) 95%/1rem no-repeat rgba(0, 0, 0, 0.4);
}

main .main-section .top-section .search-panel form select:hover {
	background: url(../img/select_arrow.png) 95%/1rem no-repeat rgba(0, 0, 0, 0.2);
}

main .main-section .top-section .search-panel form input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border:             0;
	font-size:          .5em;
	width:              100%;
	outline:            none;
	border-radius:      0;
	padding:            .7rem 1rem;
}

main .main-section .top-section .search-panel form input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	font-size:          .5em;
	padding:            .7rem 1rem;
	outline:            none;
	border-radius:      0;
	border:             0;
	cursor:             pointer;
	-webkit-transition: .1s;
	transition:         .1s;
}

main .main-section .top-section .search-panel form input[type="submit"]:hover {
	background: rgba(0, 0, 0, 0.2);
}

main .main-section .top-section .search-panel form input[type="submit"]:active {
	background: rgba(0, 0, 0, 0.4);
}

main .main-section .top-section .search-panel form select {
	cursor:             pointer;
	background:         url(../img/select_arrow.png) 95%/1rem no-repeat;
	outline:            none;
	border-radius:      0;
	font-size:          .5em;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	padding:            .7rem 1.7rem;
	display:            block;
	text-align-last:    center;
	border-right:       2px solid #2D3436;
	border-left:        2px solid #2D3436;
	border-top:         0;
	border-bottom:      0;
}

main .main-section .top-section .search-panel form select:first-child {
	border-left: none;
}

main .main-section .product {
	padding: 1rem 2rem;
}

main .main-section .product .first-line .title {
	padding: 1rem 1rem;
}

main .main-section .product .first-line .title h3 {
	font-family: 'PT Sans', sans-serif;
	color:       #2D3436;
	font-size:   1.1em;
}

main .main-section .product .second-line {
	display:               grid;
	grid-template-columns: 3fr 1fr;
	-webkit-box-align:     center;
	-ms-flex-align:        center;
	align-items:           center;
}

main .main-section .product .second-line .quick-info {
	width:                 100%;
	padding:               .5rem 1rem;
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
	-webkit-box-pack:      justify;
	-ms-flex-pack:         justify;
	justify-content:       space-between;
	-ms-flex-wrap:         wrap;
	flex-wrap:             wrap;
}

main .main-section .product .second-line .quick-info .top {
	width: 100%;
}

main .main-section .product .second-line .quick-info .top > * {
	margin-bottom: 1rem;
}

main .main-section .product .second-line .quick-info .top h4 {
	color: #2D3436;
}

main .main-section .product .second-line .quick-info .top .call-block {
	display:            -webkit-box;
	display:            -ms-flexbox;
	display:            flex;
	width:              100%;
	-webkit-box-shadow: 0 5px 0 0 #226F93;
	box-shadow:         0 5px 0 0 #226F93;
	background:         #2BB3E0;
	text-align:         center;
	padding:            .5rem 1rem;
	border-radius:      .5rem;
	cursor:             pointer;
}

main .main-section .product .second-line .quick-info .top .call-block:hover {
	-webkit-box-shadow: 0 3px 0 0 #226F93;
	box-shadow:         0 3px 0 0 #226F93;
}

main .main-section .product .second-line .quick-info .top .call-block:active {
	-webkit-box-shadow: none;
	box-shadow:         none;
}

main .main-section .product .second-line .quick-info .top .call-block a {
	text-decoration: none;
	font-size:       .4em;
	width:           100%;
	height:          100%;
	font-family:     'Roboto Condensed', sans-serif;
	color:           #EFEFEF;
}

main .main-section .product .second-line .quick-info .top .call-block a i {
	margin-right:      .5rem;
	-webkit-transform: scaleX(-1);
	transform:         scaleX(-1);
}

main .main-section .product .second-line .quick-info .top p {
	font-size:   .5em;
	font-family: 'Roboto Condensed', sans-serif;
	color:       #34495E;
}

main .main-section .product .second-line .quick-info .bottom {
	width: 100%;
}

main .main-section .product .second-line .quick-info .bottom .report {
	display:            -webkit-box;
	display:            -ms-flexbox;
	display:            flex;
	width:              100%;
	-webkit-box-shadow: 0 5px 0 0 #AD3B3B;
	box-shadow:         0 5px 0 0 #AD3B3B;
	background:         #EB4D4B;
	text-align:         center;
	padding:            .5rem 1rem;
	border-radius:      .5rem;
	cursor:             pointer;
}

main .main-section .product .second-line .quick-info .bottom .report:hover {
	-webkit-box-shadow: 0 3px 0 0 #AD3B3B;
	box-shadow:         0 3px 0 0 #AD3B3B;
}

main .main-section .product .second-line .quick-info .bottom .report:active {
	-webkit-box-shadow: none;
	box-shadow:         none;
}

main .main-section .product .second-line .quick-info .bottom .report i {
	margin-right: .5rem;
}

main .main-section .product .second-line .quick-info .bottom .report a {
	width:           100%;
	height:          100%;
	font-family:     'Roboto Condensed', sans-serif;
	text-decoration: none;
	color:           #EFEFEF;
	font-size:       .4em;
}

main .main-section .product .second-line img {
	width:         100%;
	height:        auto;
	min-height:    200px;
	max-height:    30rem;
	-o-object-fit: cover;
	object-fit:    cover;
}

main .main-section .product .third-line {
	width: auto;
}

main .main-section .product .third-line .heading {
	width:                 100%;
	display:               grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:   'first .' 'second second';
	grid-template-rows:    repeat(2, minmax(1rem, auto));
}

main .main-section .product .third-line .heading .wrapper {
	grid-area:        first;
	width:            100%;
	display:          -webkit-box;
	display:          -ms-flexbox;
	display:          flex;
	-webkit-box-pack: justify;
	-ms-flex-pack:    justify;
	justify-content:  space-between;
	padding:          .5rem 1rem;
}

main .main-section .product .third-line .heading .wrapper .data {
	display:           -webkit-box;
	display:           -ms-flexbox;
	display:           flex;
	-webkit-box-align: center;
	-ms-flex-align:    center;
	align-items:       center;
}

main .main-section .product .third-line .heading .wrapper .data i {
	color:        #2BB3E0;
	font-size:    .7em;
	margin-right: .5rem;
}

main .main-section .product .third-line .heading .wrapper .data a {
	font-family:     'Roboto Condensed', sans-serif;
	text-decoration: none;
	color:           #2D3D7A;
}

main .main-section .product .third-line .heading .wrapper .data a:hover {
	text-decoration: underline;
}

main .main-section .product .third-line .heading .wrapper .data p,
main .main-section .product .third-line .heading .wrapper .data a {
	font-size: .5em;
}

main .main-section .product .third-line .heading .wrapper .data p {
	color:      #2D3436;
	text-align: center;
	font-size: .3em;
}

main .main-section .product .third-line .heading .description {
	grid-area: second;
}

main .main-section .product .third-line .heading .description h3 {
	font-size:   .9em;
	font-family: 'PT Sans', sans-serif;
	color:       #2D3436;
}

main .main-section .product .third-line .heading .description p {
	color:       #34495E;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:   .5em;
	text-align:  justify;
	line-height: 1.5;
}

main .main-section .product .third-line .heading .description .views {
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	color:       #2D3436;
	font-size:   .7em;
}

@media all and (max-width: 450px) {
	main .main-section .top-section .search-panel {
		border: 0;
	}

	main .main-section .top-section .search-panel form {
		-webkit-box-orient:    vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction:    column;
		flex-direction:        column;
		border:                none;
	}

	main .main-section .top-section .search-panel form select {
		border:    2px solid #2D3436;
		font-size: .7em;
	}

	main .main-section .top-section .search-panel form input[type="search"] {
		border-left:  2px solid #2D3436;
		border-right: 2px solid #2D3436;
		font-size:    .7em;
		padding:      1rem 1.7rem;
	}

	main .main-section .top-section .search-panel form input[type="submit"] {
		border-bottom: 2px solid #2D3436;
		border-left:   2px solid #2D3436;
		border-right:  2px solid #2D3436;
		font-size:     .8em;
	}

	main .main-section .product {
		padding: .5rem 1rem;
	}

	main .main-section .product .first-line .title {
		text-align: center;
	}

	main .main-section .product .second-line {
		grid-template-columns: 1fr;
	}

	main .main-section .product .second-line img {
		width: 100%;
	}

	main .main-section .product .second-line .quick-info {
		padding:       0;
		width:         100%;
		margin-bottom: 1rem;
	}

	main .main-section .product .second-line .quick-info .top {
		display:               -webkit-box;
		display:               -ms-flexbox;
		display:               flex;
		-webkit-box-orient:    vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction:    column;
		flex-direction:        column;
		-webkit-box-pack:      justify;
		-ms-flex-pack:         justify;
		justify-content:       space-between;
	}

	main .main-section .product .second-line .quick-info .top h4 {
		font-size: 1em;
	}

	main .main-section .product .third-line {
		margin-top: 1rem;
	}

	main .main-section .product .third-line .heading {
		grid-template-columns: 1fr;
	}

	main .main-section .product .third-line .heading .wrapper {
		padding:               0;
		width:                 100%;
		-webkit-box-orient:    vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction:    column;
		flex-direction:        column;
	}

	main .main-section .product .third-line .heading .wrapper .data {
		margin-bottom: 1rem;
	}

	main .main-section .product .third-line .heading .description p {
		font-size: .4em;
	}
}
