@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");
main .main-section .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .main-section .top-section > h1 {
  display: block;
  font-family: 'PT Sans', sans-serif;
  color: #34495e;
  text-align: center;
  font-size: 1.5em;
}

main .main-section .top-section .search-panel {
  border: 2px solid #2d3436;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-section .top-section .search-panel form {
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .main-section .top-section .search-panel form select {
  -webkit-transition: .1s;
  transition: .1s;
}

main .main-section .top-section .search-panel form select:active {
  background: url(../img/select_arrow.png) 95%/1rem no-repeat rgba(0, 0, 0, 0.4);
}

main .main-section .top-section .search-panel form select:hover {
  background: url(../img/select_arrow.png) 95%/1rem no-repeat rgba(0, 0, 0, 0.2);
}

main .main-section .top-section .search-panel form input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  font-size: .5em;
  width: 100%;
  outline: none;
  border-radius: 0;
  padding: .7rem 1rem;
}

main .main-section .top-section .search-panel form input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: .5em;
  padding: .7rem 1rem;
  outline: none;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

main .main-section .top-section .search-panel form input[type="submit"]:hover {
  background: rgba(0, 0, 0, 0.2);
}

main .main-section .top-section .search-panel form input[type="submit"]:active {
  background: rgba(0, 0, 0, 0.4);
}

main .main-section .top-section .search-panel form select {
  cursor: pointer;
  background: url(../img/select_arrow.png) 95%/1rem no-repeat;
  outline: none;
  border-radius: 0;
  font-size: .5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .7rem 1.7rem;
  display: block;
  text-align-last: center;
  border-right: 2px solid #2d3436;
  border-left: 2px solid #2d3436;
  border-top: 0;
  border-bottom: 0;
}

main .main-section .top-section .search-panel form select:first-child {
  border-left: none;
}

main .main-section .top-section .ads {
  margin-top: 1rem;
}

main .main-section .top-section .ads > .cat {
  color: #34495e;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

main .main-section .top-section .ads > .cat span {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: .5em;
  max-width: 16rem;
}

main .main-section .top-section .ads > .cat span:first-child {
  margin-right: 1rem;
}

main .main-section .top-section .ads > .cat span > strong {
  font-weight: 700;
  font-style: italic;
  color: #2d3436;
}

main .main-section .top-section .ads > .cat .aligner {
  margin-left: auto;
}

main .main-section .top-section .ads > .cat .aligner .new {
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: relative;
  padding: .3rem .5rem;
  background: #2BB3E0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  text-align: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main .main-section .top-section .ads > .cat .aligner .new:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #226F93;
  content: "";
  z-index: -2;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

main .main-section .top-section .ads > .cat .aligner .new:hover:after {
  -webkit-transform: translateY(-80%);
  transform: translateY(-80%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

main .main-section .top-section .ads > .cat .aligner .new a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .6em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #EFEFEF;
  text-decoration: none;
}

main .main-section .top-section .ads .ads-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .main-section .top-section .ads .ads-wrapper .ad {
  width: 47%;
  -webkit-transition: .3s;
  transition: .3s;
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main .main-section .top-section .ads .ads-wrapper .ad:nth-child(1n) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

main .main-section .top-section .ads .ads-wrapper .ad:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

main .main-section .top-section .ads .ads-wrapper .ad .info {
  padding: .3rem .5rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .main-section .top-section .ads .ads-wrapper .ad .info a {
  width: 100%;
  text-decoration: none;
}

main .main-section .top-section .ads .ads-wrapper .ad .info a h3 {
  font-size: .4em;
  text-align: justify;
  width: 100%;
  color: #2BB3E0;
  display: block;
}

main .main-section .top-section .ads .ads-wrapper .ad .info a h3:hover {
  text-decoration: underline;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  font-size: .5em;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag a,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date a,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo a {
  text-decoration: none;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag a:hover,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date a:hover,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo a:hover {
  text-decoration: underline;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag .icon,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date .icon,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo .icon {
  display: block;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  margin-right: .2rem;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag .icon i,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date .icon i,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo .icon i {
  font-size: 1rem;
  color: #2BB3E0;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag .tags a,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .tag .city a,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo .tags a,
main .main-section .top-section .ads .ads-wrapper .ad .info .cat .geo .city a {
  color: #4A69BD;
  font-size: .8em;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main-section .top-section .ads .ads-wrapper .ad .info .cat .date .time {
  color: #34495e;
  font-size: .8em;
}

main .main-section .top-section .ads .ads-wrapper .ad a {
  width: 40%;
}

main .main-section .top-section .ads .ads-wrapper .ad a img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

main .main-section .top-section .ads .ads-wrapper .ad a img:hover {
  opacity: .9;
}

@media all and (max-width: 450px) {
  main .main-section .top-section .search-panel {
    border: 0;
  }
  main .main-section .top-section .search-panel form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none;
  }
  main .main-section .top-section .search-panel form select {
    border: 2px solid #2d3436;
    font-size: .7em;
  }
  main .main-section .top-section .search-panel form input[type="search"] {
    border-left: 2px solid #2d3436;
    border-right: 2px solid #2d3436;
    font-size: .7em;
    padding: 1rem 1.7rem;
  }
  main .main-section .top-section .search-panel form input[type="submit"] {
    border-bottom: 2px solid #2d3436;
    border-left: 2px solid #2d3436;
    border-right: 2px solid #2d3436;
    font-size: .8em;
  }
  main .main-section .top-section .ads > .cat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.1em;
  }
  main .main-section .top-section .ads > .cat span {
    text-align: center;
    margin-bottom: 1rem;
  }
  main .main-section .top-section .ads > .cat .aligner {
    margin-left: 0;
  }
  main .main-section .top-section .ads > .cat .aligner .new a {
    font-size: .9em;
  }
  main .main-section .top-section .ads .ads-wrapper {
    padding: .3rem .5rem;
  }
  main .main-section .top-section .ads .ads-wrapper .ad {
    width: 100%;
  }
  main .main-section .top-section .ads .ads-wrapper .ad:nth-child(1n) {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  main .main-section .top-section .ads .ads-wrapper .ad img {
    width: 40%;
  }
  main .main-section .top-section .ads .ads-wrapper .ad .info {
    width: 60%;
  }
}
