@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");
.main-section h1 {
  color: #2D3D7A;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.main-section h2 {
  font-size: .7em;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #243649;
}

.main-section .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem;
}

.main-section .categories .category {
  width: 25%;
  margin: .3em;
  text-align: center;
  padding: .5rem .3rem;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  border: 1px solid transparent;
}

.main-section .categories .category:hover {
  border: 1px solid #34495E;
  -webkit-box-shadow: 4px 4px 7px -3px #34495E;
  box-shadow: 4px 4px 7px -3px #34495E;
  cursor: pointer;
}

.main-section .categories .category:hover .fa-home {
  color: #ff7675;
}

.main-section .categories .category:hover .fa-car {
  color: #FDCB6E;
}

.main-section .categories .category:hover .fa-leaf {
  color: #4CD137;
}

.main-section .categories .category:hover .fa-desktop {
  color: #7F8FA6;
}

.main-section .categories .category:hover .fa-briefcase {
  color: #2F3542;
}

.main-section .categories .category:hover .fa-paw {
  color: #F0932B;
}

.main-section .categories .category:hover .fa-hand-holding {
  color: #F8C291;
}

.main-section .categories .category:hover .fa-box-open {
  color: #E58E26;
}

.main-section .categories .category:hover .fa-child {
  color: #6A89CC;
}

.main-section .categories .category:hover .fa-couch {
  color: #B53471;
}

.main-section .categories .category:hover .fa-ellipsis-h {
  color: #0097e6
}

.main-section .categories .category a {
  text-decoration: none;
}

.main-section .categories .category a i {
  margin-bottom: .5rem;
  font-size: 1em;
  color: #34495e;
}

.main-section .categories .category a h3 {
  margin-bottom: .3rem;
  color: #34495e;
  font-size: .5em;
}

.main-section .categories .category a p {
  color: #34495e;
  font-size: .5em;
}

.main-section .view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.main-section .view-more a {
  text-decoration: none;
  text-align: center;
  font-size: .6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #34495e;
  line-height: 1;
  padding: 1.8rem 1rem;
  border-radius: 50%;
  border: 5px double #34495e;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-section .view-more a:hover {
  border-style: solid;
  background: rgba(52, 73, 94, 0.3);
}

main .info {
  line-height: 1.5;
}

main .info h2 {
  text-align: center;
  font-size: 1.5em;
  font-family: 'PT Sans', sans-serif;
  color: #2d3436;
}

main .info h3 {
  color: #2d3436;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}

main .info .partners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2.5em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
}

main .info .partners [class^="fa"] {
  color: #2BB3E0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

main .info .partners [class^="fa"]:hover {
  color: #34495e;
}

main .info p {
  text-align: justify;
  color: #34495e;
  font-size: .5em;
  text-indent: 1.5rem;
  line-height: 1.5;
  margin-bottom: .8rem;
}

@media all and (max-width: 450px) {
  main .main-section .view-more {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2em;
  }
  main .main-section .view-more a {
    padding: 2.7rem 1rem;
  }
  main .main-section .categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .main-section .categories .category {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  main .main-section .categories .category h3 {
    font-size: 1.2em;
  }
  main .main-section .categories .category i {
    font-size: 3em;
  }
  main .main-section .categories .category p {
    font-size: 1em;
  }
  main .info {
    padding: .5rem 1rem;
  }
  main .info h3 {
    font-size: .7em;
  }
  main .info .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .info .partners a {
    font-size: 1.5em;
  }
}
