@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");

.main-section {
	padding: 3rem;
}
.main-section > h2{
	color: #2F3640;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	text-align: center;
}

.main-section > p{
	color: #2D3436;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: .8em;
	text-align: center;
}