@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");
@import url(../css/search.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div::selection,
h1::selection,
h2::selection,
h3::selection,
p::selection,
span::selection,
strong::selection,
em::selection,
header::selection,
main::selection,
aside::selection,
a::selection {
  color: #EFEFEF;
  background: rgba(43, 179, 224, 0.8);
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, minmax(40px, auto));
  grid-template-areas: 'header' 'main' 'footer';
}

.grid header {
  grid-area: header;
}

.grid header .logo {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.grid header .logo > a {
  text-decoration: none;
  color: #EFEFEF;
  font-size: 2.7em;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 600;
}

.grid header .logo > a:hover {
  text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, #4A69BD 0 0 20px, #4A69BD 0 0 30px, #4A69BD 0 0 40px, #4A69BD 0 0 50px, #4A69BD 0 0 75px;
}

.grid header .mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(155deg, #4A69BD, #2BB3E0, #4A69BD);
  display: none;
}

.grid header .mobile .first-line {
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid header .mobile .first-line .search-btn {
  cursor: pointer;
  font-size: 3.5em;
  color: #EFEFEF;
}

.grid header .mobile .header-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  text-transform: uppercase;
}

.grid header .mobile .header-panel a {
  border-bottom: 2px solid;
  color: #EFEFEF;
  font-size: 2.5em;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 1.5rem;
}

.grid header .mobile .search-mob {
  position: absolute;
  display: none;
  background: linear-gradient(155deg, #4A69BD, #2BB3E0, #4A69BD);
  width: 78.2vh;
  height: 133vh;
  z-index: 2;
}

.grid header .mobile .search-mob h3 {
  margin-top: 15rem;
  font-size: 5.5em;
  text-align: center;
  color: #EFEFEF;
}

.grid header .mobile .search-mob .close {
  color: #EFEFEF;
  position: absolute;
  font-size: 4.5em;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.grid header .mobile .search-mob input[type="search"] {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #EFEFEF;
  border: none;
  font-size: 2.5em;
  padding: .5rem 1rem;
  border-bottom: 3px solid #EFEFEF;
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 2rem;
}

.grid header .mobile .search-mob input[type="search"]:focus {
  border-color: #2BB3E0;
}

.grid header .mobile .search-mob input[type="search"]::-webkit-input-placeholder {
  color: #dcdde1;
}

.grid header .mobile .search-mob input[type="search"]:-ms-input-placeholder {
  color: #dcdde1;
}

.grid header .mobile .search-mob input[type="search"]::-ms-input-placeholder {
  color: #dcdde1;
}

.grid header .mobile .search-mob input[type="search"]::placeholder {
  color: #dcdde1;
}

.grid header .mobile .search-mob input[type="submit"] {
  border: 3px solid #EFEFEF;
  background: transparent;
  color: #EFEFEF;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 1rem 2rem;
  font-size: 3em;
}

.grid header .mobile .search-mob input[type="submit"]:active {
  background: #dcdde1;
}

.grid header .full {
  background: linear-gradient(155deg, #4A69BD, #2BB3E0, #4A69BD);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.grid header .full .header-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid header .full .header-panel .draw-border {
  -webkit-box-shadow: inset 0 0 0 4px transparent;
  box-shadow: inset 0 0 0 4px transparent;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.grid header .full .header-panel .draw-border::before, .grid header .full .header-panel .draw-border::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.grid header .full .header-panel .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.grid header .full .header-panel .draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.grid header .full .header-panel .draw-border:hover a {
  color: #2D3D7A;
}

.grid header .full .header-panel .draw-border:hover::before, .grid header .full .header-panel .draw-border:hover::after {
  border-color: #2D3D7A;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.grid header .full .header-panel .draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.grid header .full .header-panel .draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.grid header .full .header-panel .btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Condensed', sans-serif;
  padding: .7em 1.5em;
  letter-spacing: 0.05rem;
}

.grid header .full .header-panel .btn:hover .fa-user,
.grid header .full .header-panel .btn:hover .fa-user-plus,
.grid header .full .header-panel .btn:hover .fa-envelope {
  text-align: center;
}

.grid header .full .header-panel .btn:hover .fa-user:after,
.grid header .full .header-panel .btn:hover .fa-user-plus:after,
.grid header .full .header-panel .btn:hover .fa-envelope:after {
  content: '';
}

.grid header .full .header-panel .btn:hover .fa-user:hover:after,
.grid header .full .header-panel .btn:hover .fa-user-plus:hover:after,
.grid header .full .header-panel .btn:hover .fa-envelope:hover:after {
  margin-left: .9rem;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-animation: appearing .2s linear;
  animation: appearing .2s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.grid header .full .header-panel .btn:hover .fa-user-plus {
  text-align: center;
}

.grid header .full .header-panel .btn:hover .fa-user-plus:hover:after {
  content: 'Регистрация';
}

.grid header .full .header-panel .btn:hover .fa-user {
  text-align: center;
}

.grid header .full .header-panel .btn:hover .fa-user:hover:after {
  content: 'Вход';
}

.grid header .full .header-panel .btn:hover .fa-envelope {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid header .full .header-panel .btn:hover .fa-envelope:hover:after {
  content: 'Мое объявление';
  font-size: .73em;
}

.grid header .full .header-panel .btn:focus {
  outline: 2px dotted #55d7dc;
}

.grid header .full .header-panel .btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #EFEFEF;
  font-size: 1.5em;
}

.grid header .full .header-panel .btn a span {
  font-size: .8em;
}

.grid main {
  grid-area: main;
  font-size: 3em;
  display: grid;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 4fr 1fr;
}

.grid main aside .ad {
  background: linear-gradient(155deg, #4A69BD, #2BB3E0, #4A69BD);
  font-size: .5em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  opacity: .5;
}

.grid footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: linear-gradient(155deg, #4A69BD, #2BB3E0, #4A69BD);
  margin-top: 5rem;
  padding: 1rem 2rem;
}

.grid footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid footer .contact-us .wrapper {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid footer .contact-us .wrapper h2 {
  font-size: 1.75em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #EFEFEF;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.grid footer .contact-us .wrapper p {
  font-size: 1.2em;
  color: #34495e;
  font-family: 'PT Sans', sans-serif;
}

.grid footer .contact-us .wrapper h3 {
  font-size: 1.5em;
  color: #EFEFEF;
  margin-top: .5rem;
}

.grid footer .contact-us .wrapper .soc-networks {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.grid footer .contact-us .wrapper .soc-networks a {
  color: #353b48;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  font-size: 2.5em;
}

.grid footer .contact-us .wrapper .soc-networks a:nth-child(2n) {
  color: #f5f6fa;
}

.grid footer .contact-us .wrapper .soc-networks a:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}

.grid footer .about {
  padding: 1rem 2rem;
}

.grid footer .about h2 {
  color: #EFEFEF;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.3em;
  margin-bottom: 1rem;
}

.grid footer .about h3 {
  color: #EFEFEF;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

.grid footer .about h3 > strong {
  font-style: italic;
}

.grid footer .about #map {
  width: 100%;
  height: 20rem;
  border-radius: .5rem;
  border: 5px solid #EFEFEF;
  margin-bottom: 1rem;
}

@-webkit-keyframes appearing {
  from {
    margin-left: -5rem;
    opacity: 0;
  }
  to {
    margin-left: .9rem;
    opacity: 1;
  }
}

@keyframes appearing {
  from {
    margin-left: -5rem;
    opacity: 0;
  }
  to {
    margin-left: .9rem;
    opacity: 1;
  }
}

@media all and (max-width: 450px) {
  .grid header .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grid header .mobile .logo {
    font-size: 1.5em;
  }
  .grid header .full {
    display: none;
  }
  .grid main {
    grid-template-columns: 1fr;
  }
  .grid main aside .ad {
    font-size: 1em;
  }
  .grid main aside .ad p {
    margin: 0 auto;
  }
  .grid footer {
    grid-template-columns: 1fr;
    padding: .5rem .1rem;
    margin-top: 0;
  }
  .grid footer .about {
    text-align: center;
  }
  .grid footer .contact-us .wrapper {
    text-align: center;
  }
  .grid footer .contact-us .wrapper h2 {
    font-size: 2.5em;
  }
  .grid footer .contact-us .wrapper p {
    font-size: 1.8em;
  }
  .grid footer .contact-us .wrapper h3 {
    font-size: 1.8em;
  }
}
