@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");
form{
	width: 40%;
	margin: 0 auto;
	padding: 0 auto;
}

form[name^="add"] div,
form[name^="add"] div > *{
	margin-bottom: 1rem;
}

textarea{
	width: 100%;
	min-height: 10rem;
}

h1{
	text-align: center;
}

.submit{
	background-color: #2BB3E0;
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}
