@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");
@import url(../css/form.css);
main .main-section h1 {
  color: #2d3436;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  text-align: center;
  padding: .5rem 1rem;
}

main .main-section form {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .main-section form input {
  font-size: .5em;
  font-family: 'Roboto Condensed', sans-serif;
}

main .main-section form label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .5em;
}

main .main-section form select {
  cursor: pointer;
  background: url(../img/select_arrow.png) 95%/1rem no-repeat;
  outline: none;
  border-radius: 0;
  font-size: .5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .7rem 1.7rem;
  display: block;
  text-align-last: center;
}

main .main-section form .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem;
}

main .main-section form .comment h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

main .main-section form .comment textarea {
  width: 100%;
  font-size: .5em;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1.5rem 2rem;
  outline: none;
  min-height: 10rem;
  border: 2px solid #2d3436;
  resize: vertical;
  -webkit-transition: .3s;
  transition: .3s;
}

main .main-section form .comment textarea:focus {
  border-color: #2BB3E0;
}

main .main-section form button {
  border: 2px solid #2d3436;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1rem 2rem;
  background: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

main .main-section form button:active {
  border-color: #2BB3E0;
}

main .main-section form button:hover {
  background: rgba(0, 0, 0, 0.2);
}
