@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i|Roboto+Condensed&subset=cyrillic");

.main-section {
	width:  60%;
	margin: auto;
}

.main-section > h1 {
	font-size:   1.5em;
	text-align:  center;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color:       #2F3542;
}

.main-section > h2 {
	font-size:   1em;
	text-align:  center;
	font-style:  italic;
	font-family: 'Roboto Condensed', sans-serif;
	color:       #2F3640;
}

.main-section > p {
	font-size:   .5em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:  center;
}

.main-section textarea {
	min-height: 5rem;
}

.main-section form label {
	font-size: .5em;
}

.main-section .btn {
	width: 100%;
	font-size: .7em;
}

@media all and (max-width: 450px) {
	.main-section {
		width: 95%;
	}
}