@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
	font-family: Roboto, sans-serif;
	padding:     0;
	margin:      0;
}

.search-container {
	width:           100%;
	height:          100%;
	display:         flex;
	justify-content: center;
	align-items:     center;
}

.search {
	margin: 20px;
}

.search > div {
	display:  inline-block;
	position: relative;
}

.search > div:after {
	content:    "";
	background: white;
	width:      4px;
	height:     20px;
	position:   absolute;
	top:        40px;
	right:      2px;
	transform:  rotate(135deg);
	box-shadow: 1px 0 #4a69bd;
}

.search > div > input {
	color:         white;
	font-size:     16px;
	background:    transparent;
	width:         45px;
	height:        45px;
	padding:       15px;
	border:        solid 3px white;
	outline:       none;
	border-radius: 35px;
	box-shadow:    0 1px #4a69bd;
	transition:    width 0.5s;
}

.search > div > input::placeholder {
	color:   #EFEFEF;
	text-align: center;
	padding-left: 10px;
	opacity: 1;
}

.search > div > input::-ms-placeholder {
	color: #EFEFEF;
}

.search > div > input::-ms-input-placeholder {
	color: #EFEFEF;
}

.search > div > input:focus,
.search > div > input:valid {
	width: 250px;
}
