@import "fonts"
@import "colors"

main
	.main-section
		.top-section
			display: flex
			flex-direction: column
			> h2
				font-family: 'PT Sans', sans-serif
				display: flex
				color: $dark_gray
				margin: auto
				font-size: 1.5em
				padding: 1rem 2rem
			.search-panel
				width: 100%
				border: 2px solid $black
				display: flex
				form
					font-family: 'Roboto Condensed', sans-serif
					display: flex
					width: 100%
					select
						transition: .1s
						&:active
							background: url(../img/select_arrow.png) 95% / 1rem no-repeat rgba(0, 0, 0, .4)
						&:hover
							background: url(../img/select_arrow.png) 95% / 1rem no-repeat rgba(0, 0, 0, .2)
					input[type="search"]
						appearance: none
						border: 0
						font-size: .5em
						width: 100%
						outline: none
						border-radius: 0
						padding: .7rem 1rem
					input[type="submit"]
						appearance: none
						font-size: .5em
						padding: .7rem 1rem
						outline: none
						border-radius: 0
						border: 0
						cursor: pointer
						transition: .1s
						&:hover
							background: rgba(0, 0, 0, .2)
						&:active
							background: rgba(0, 0, 0, .4)
					select
						cursor: pointer
						background: url(../img/select_arrow.png) 95% / 1rem no-repeat
						outline: none
						border-radius: 0
						font-size: .5em
						appearance: none
						padding: .7rem 1.7rem
						display: block
						text-align-last: center
						border:
							right: 2px solid $black
							left: 2px solid $black
							top: 0
							bottom: 0
						&:first-child
							border-left: none
		.product
			padding: 1rem 2rem
			.first-line
				.title
					padding: 1rem 1rem
					h3
						font-family: 'PT Sans', sans-serif
						color: $black
						font-size: 1.1em
			.second-line
				display: grid
				grid-template-columns: 3fr 1fr
				align-items: center
				.quick-info
					width: 100%
					padding: .5rem 1rem
					display: flex
					flex-direction: column
					justify-content: space-between
					flex-wrap: wrap
					.top
						width: 100%
						> *
							margin-bottom: 1rem
						h4
							color: $black
						.call-block
							display: flex
							width: 100%
							box-shadow: 0 5px 0 0 $dark_cyan
							background: $cyan
							text-align: center
							padding: .5rem 1rem
							border-radius: .5rem
							cursor: pointer
							&:hover
								box-shadow: 0 3px 0 0 $dark_cyan
							&:active
								box-shadow: none
							a
								text-decoration: none
								font-size: .6em
								width: 100%
								height: 100%
								font-family: 'Roboto Condensed', sans-serif
								color: $white
								i
									margin-right: .5rem
									transform: scaleX(-1)
						p
							font-size: .8em
							font-family: 'Roboto Condensed', sans-serif
							color: $dark_gray


					.bottom
						width: 100%
						.report
							display: flex
							width: 100%
							box-shadow: 0 5px 0 0 rgba(173,59,59,1)
							background: $red
							text-align: center
							padding: .5rem 1rem
							border-radius: .5rem
							cursor: pointer
							&:hover
								box-shadow: 0 3px 0 0 rgba(173,59,59,1)
							&:active
								box-shadow: none
							i
								margin-right: .5rem
							a
								width: 100%
								height: 100%
								font-family: 'Roboto Condensed', sans-serif
								text-decoration: none
								color: $white
								font-size: .5em

				img
					width: 100%
					height: auto
					min-height: 200px
					max-height: 30rem
					object-fit: cover
			.third-line
				width: auto
				.heading
					width: 100%
					display: grid
					grid-template-columns: 3fr 1fr
					grid-template-areas: 'first .' 'second second'
					grid-template-rows: repeat(2, minmax(1rem, auto))
					.wrapper
						grid-area: first
						width: 100%
						display: flex
						justify-content: space-between
						padding: .5rem 1rem
						.data
							display: flex
							align-items: center
							i
								color: $cyan
								font-size: .7em
								margin-right: .5rem
							a
								font-family: 'Roboto Condensed', sans-serif
								text-decoration: none
								color: $dark_purple
								&:hover
									text-decoration: underline
							p,
							a
								font-size: .5em
							p
								color: $black
								text-align: center
					.description
						grid-area: second
						h3
							font-size: .9em
							font-family: 'PT Sans', sans-serif
							color: $black
						p
							color: $dark_gray
							font-family: 'Roboto Condensed', sans-serif
							font-size: .5em
							text-align: justify
							line-height: 1.5
						.views
							font-weight: 700
							font-family: 'PT Sans', sans-serif
							color: $black
							font-size: .7em

@media all and (max-width: 450px)
	main
		.main-section
			.top-section
				.search-panel
					border: 0
					form
						flex-direction: column
						border: none
						select
							border: 2px solid $black
							font-size: .7em
						input[type="search"]
							border:
								left: 2px solid $black
								right: 2px solid $black
							font-size: .7em
							padding: 1rem 1.7rem
						input[type="submit"]
							border:
								bottom: 2px solid $black
								left: 2px solid $black
								right: 2px solid $black
							font-size: .8em
			.product
				padding: .5rem 1rem
				.first-line
					.title
						text-align: center
				.second-line
					grid-template-columns: 1fr
					img
						width: 100%
					.quick-info
						padding: 0
						width: 100%
						margin-bottom: 1rem
						.top
							display: flex
							flex-direction: column
							justify-content: space-between
							h4
								font-size: 1em
				.third-line
					margin-top: 1rem
					.heading
						grid-template-columns: 1fr
						.wrapper
							padding: 0
							width: 100%
							flex-direction: column
							.data
								margin-bottom: 1rem
						.description
							p
								font-size: .4em
							.views
								font-size: .6em


