@import "colors"
@import "fonts"

main
	.main-section
		.top-section
			display: flex
			flex-direction: column
			> h1
				display: block
				font-family: 'PT Sans', sans-serif
				color: $dark_gray
				text-align: center
				font-size: 1.5em
			.search-panel
				border: 2px solid $black
				display: flex
				form
					font-family: 'Roboto Condensed', sans-serif
					display: flex
					width: 100%
					select
						transition: .1s
						&:active
							background: url(../img/select_arrow.png) 95% / 1rem no-repeat rgba(0, 0, 0, .4)
						&:hover
							background: url(../img/select_arrow.png) 95% / 1rem no-repeat rgba(0, 0, 0, .2)
					input[type="search"]
						appearance: none
						border: 0
						font-size: .5em
						width: 100%
						outline: none
						border-radius: 0
						padding: .7rem 1rem
					input[type="submit"]
						appearance: none
						font-size: .5em
						padding: .7rem 1rem
						outline: none
						border-radius: 0
						border: 0
						cursor: pointer
						transition: .1s
						&:hover
							background: rgba(0, 0, 0, .2)
						&:active
							background: rgba(0, 0, 0, .4)
					select
						cursor: pointer
						background: url(../img/select_arrow.png) 95% / 1rem no-repeat
						outline: none
						border-radius: 0
						font-size: .5em
						appearance: none
						padding: .7rem 1.7rem
						display: block
						text-align-last: center
						border:
							right: 2px solid $black
							left: 2px solid $black
							top: 0
							bottom: 0
						&:first-child
							border-left: none
			.ads
				margin-top: 1rem
				> .cat
					color: $dark_gray
					padding: 1rem 2rem
					display: flex
					align-items: center
					justify-content: flex-start
					span
						font-family: 'PT Sans', sans-serif
						font-weight: 400
						font-size: .5em
						&:first-child
							margin-right: 1rem
						> strong
							font-weight: 700
							font-style: italic
							color: $black
					.aligner
						margin-left: auto
						.new
							align-self: flex-end
							position: relative
							padding: .3rem .5rem
							background: $cyan
							overflow: hidden
							z-index: 1
							cursor: pointer
							transition: color .3s
							text-align: center
							box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
							&:after
								position: absolute
								top: 90%
								left: 0
								width: 100%
								height: 100%
								background: $dark_cyan
								content: ""
								z-index: -2
								transition: transform .3s
							&:hover
								&:after
									transform: translateY(-80%)
									transition: transform .3s
							a
								display: flex
								font-size: .7em
								font-family: 'Roboto Condensed', sans-serif
								color: $white
								text-decoration: none
				.ads-wrapper
					display: flex
					padding: 1rem 2rem
					justify-content: left
					flex-wrap: wrap
					.ad
						width: 48%
						transition: .3s
						height: 11rem
						display: flex
						box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
						&:nth-child(1n)
							margin:
								right: 1rem
								bottom: 1rem
						&:hover
							box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
						.info
							padding: .3rem .5rem
							width: 70%
							display: flex
							justify-content: space-between
							flex-direction: column
							a
								width: 100%
								text-decoration: none
								h3
									font-size: .4em
									text-align: justify
									width: 100%
									color: $cyan
									display: block
									&:hover
										text-decoration: underline
							.cat
								display: flex
								flex-direction: column
								align-items: left
								justify-content: space-between
								.tag,
								.date,
								.geo
									padding: 0
									display: flex
									justify-content: left
									font-size: .5em
									a
										text-decoration: none
										&:hover
											text-decoration: underline
									.icon
										display: block
										width: 1.7rem
										height: 1.7rem
										text-align: center
										margin-right: .2rem
										i
											font-size: 1rem
											color: $cyan
								.tag,
								.geo
									display: flex
									align-items: center
									.tags,
									.city
										a
											color: $purple
											font-size: .8em
								.date
									display: flex
									align-items: center
									.time
										color: $dark_gray
										font-size: .8em

						a
							width: 40%
							img
								object-fit: cover
								width: 100%
								height: 100%
								transition: .3s
								cursor: pointer
								&:hover
									opacity: .9

@media all and (max-width: 450px)
	main
		.main-section
			.top-section
				.search-panel
					border: 0
					form
						flex-direction: column
						border: none
						select
							border: 2px solid $black
							font-size: .7em
						input[type="search"]
							border:
								left: 2px solid $black
								right: 2px solid $black
							font-size: .7em
							padding: 1rem 1.7rem
						input[type="submit"]
							border:
								bottom: 2px solid $black
								left: 2px solid $black
								right: 2px solid $black
							font-size: .8em
				.ads
					> .cat
						flex-direction: column
						justify-content: center
						font-size: 1.1em
						span
							text-align: center
							margin-bottom: 1rem
						.aligner
							margin-left: 0
							.new
								a
									font-size: .9em
					.ads-wrapper
						padding: .3rem .5rem
						.ad
							width: 100%
							&:nth-child(1n)
								margin: 0
								margin-bottom: 1.5rem
							img
								width: 40%
							.info
								width: 60%
