@import "colors"
@import "fonts"

.main-section
	h1
		color: #2D3D7A
		font-size: 1em
		font-family: "Roboto Condensed", sans-serif
		text-align: center
	h2
		font-size: .7em
		text-align: center
		font-family: 'PT Sans', sans-serif
		color: #243649

	.categories
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		padding: 1rem
		.category
			width: 25%
			margin: .3em
			text-align: center
			padding: .5rem .3rem
			transition: .1s ease-in-out
			border: 1px solid transparent
			&:hover
				border: 1px solid #34495E
				box-shadow: 4px 4px 7px -3px #34495E
				cursor: pointer
				.fa-home
					color: #ff7675
				.fa-car
					color: #FDCB6E
				.fa-leaf
					color: #4CD137
				.fa-desktop
					color: #7F8FA6
				.fa-briefcase
					color: #2F3542
				.fa-paw
					color: #F0932B
				.fa-hand-holding
					color: #F8C291
				.fa-box-open
					color: #E58E26
				.fa-child
					color: #6A89CC
				.fa-couch
					color: #B53471
				.fa-ellipsis-h
					color: #0097e6
			a
				text-decoration: none
				i
					margin:
						bottom: .5rem
					font-size: 1em
					color: $dark_gray
				h3
					margin:
						bottom: .3rem
					color: $dark_gray
					font-size: .5em
				p
					color: $dark_gray
					font-size: .5em
	.view-more
		display: flex
		margin-bottom: 5rem
		a
			text-decoration: none
			text-align: center
			font-size: .6em
			display: flex
			margin: auto
			justify-content: center
			flex-direction: column
			color: $dark_gray
			line-height: 1
			padding: 1.8rem 1rem
			border-radius: 50%
			border: 5px double $dark_gray
			transition: .2s
			&:hover
				border-style: solid
				background: rgba(52, 73, 94, .3)
main
	.info
		line-height: 1.5
		h2
			text-align: center
			font-size: 1.5em
			font-family: 'PT Sans', sans-serif
			color: $black
		h3
			color: $black
			text-align: center
			font-size: 1em
			font-family: 'Roboto Condensed', sans-serif
		.partners
			width: 100%
			display: flex
			justify-content: space-between
			font-size: 2.5em
			flex-wrap: wrap
			margin-top: 3rem
			[class^="fa"]
				color: $cyan
				transition: .3s ease-in-out
				&:hover
					color: $dark_gray

		p
			text-align: justify
			color: $dark_gray
			font-size: .5em
			text-indent: 1.5rem
			line-height: 1.5
			margin-bottom: .8rem

@media all and (max-width: 450px)
	main
		.main-section
			.view-more
				margin-top: 2rem
				margin-bottom: 2rem
				font-size: 2em
				a
					padding: 2.7rem 1rem
			.categories
				flex-direction: column
				justify-content: center
				align-items: center
				.category
					text-align: center
					width: 100%
					margin: 0
					margin-bottom: 1.5rem
					h3
						font-size: 1.2em
					i
						font-size: 3em
					p
						font-size: 1em
		.info
			padding: .5rem 1rem
			h3
				font-size: .7em
			.partners
				flex-direction: column
				justify-content: center
				align-items: center
				a
					font-size: 1.5em