@import "fonts"
@import "../css/search.css"
@import "colors"

*
	box-sizing: border-box
	&:before,
	&:after
		box-sizing: border-box

div,
h1,
h2,
h3,
p,
span,
strong,
em,
header,
main,
aside,
a
	&::selection
		color: $white
		background: rgba(43, 179, 224, .8)

.grid
	display: grid
	grid-template-rows:  repeat(3, minmax(40px, auto))
	grid-template-areas: 'header' 'main' 'footer'
	header
		grid-area: 						 header
		.logo
			font-family: 'PT Sans', sans-serif
			text-transform: uppercase
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			> a
				text-decoration: none
				color: $white
				font-size: 2.7em
				transition: .3s
				font-weight: 600
				&:hover
					text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px, $purple 0 0 20px, $purple 0 0 30px, $purple 0 0 40px, $purple 0 0 50px, $purple 0 0 75px
		.mobile
			flex-direction: column
			background: $grdient
			display: none
			.first-line
				padding: .5rem 1rem
				display: flex
				justify-content: space-between
				align-items: center
				.search-btn
					cursor: pointer
					font-size: 3.5em
					color: $white
			.header-panel
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				margin-top: 1rem
				text-transform: uppercase
				a
					border-bottom: 2px solid
					color: $white
					font-size: 2.5em
					text-decoration: none
					font-family: 'Roboto Condensed', sans-serif
					margin-bottom: 1.5rem
			.search-mob
				position: absolute
				display: none
				background: $grdient
				width: 78.2vh
				height: 133vh
				z-index: 2
				h3
					margin-top: 15rem
					font-size: 5.5em
					text-align: center
					color: $white
				.close
					color: $white
					position: absolute
					font-size: 4.5em
					right: 1rem
					top: 1rem
					cursor: pointer
				input[type="search"]
					width: 90%
					margin: 0 auto
					display: flex
					color: $white
					border: none
					font-size: 2.5em
					padding: .5rem 1rem
					border-bottom: 3px solid $white
					background: transparent
					border-radius: 0
					appearance: none
					margin-bottom: 2rem
					&:focus
						border-color: $cyan
					&::placeholder
						color: $light_gray
				input[type="submit"]
					border: 3px solid $white
					background: transparent
					color: $white
					border-radius: 0
					display: flex
					margin: auto
					padding: 1rem 2rem
					font-size: 3em
					&:active
						background: $light_gray

		.full
			background: 					 $grdient
			display:							 grid
			grid-template-columns: 2fr 3fr 2fr
			.header-panel
				display: flex
				justify-content: center
				align-items: center
				.draw-border
					box-shadow: inset 0 0 0 4px transparent
					color: #58afd1
					transition: color 0.25s 0.08333s
					position: relative
					&::before, &::after
						border: 0 solid transparent
						box-sizing: border-box
						content: ''
						pointer-events: none
						position: absolute
						width: 0
						height: 0
						bottom: 0
						right: 0
					&::before
						border:
							bottom-width: 4px
							left-width: 4px
					&::after
						border:
							top-width: 4px
							right-width: 4px
					&:hover
						a
							color: $dark_purple
						&::before, &::after
							border-color: $dark_purple
							transition: border-color 0s, width 0.25s, height 0.25s
							width: 100%
							height: 100%
						&::before
							transition-delay: 0s, 0s, 0.25s
						&::after
							transition-delay: 0s, 0.25s, 0s

				.btn
					background: none
					border: none
					cursor: pointer
					line-height: 1.5
					font: 700 1.2rem 'Roboto Condensed', sans-serif
					padding: .7em 1.5em
					letter-spacing: 0.05rem
					&:hover
						.fa-user,
						.fa-user-plus,
						.fa-envelope
							text-align: center
							&:after
								content: ''
							&:hover
								&:after
									margin-left: .9rem
									font-family: 'Roboto Condensed', sans-serif
									animation: appearing .2s linear
									animation-fill-mode: forwards
						.fa-user-plus
							text-align: center
							&:hover
								&:after
									content: 'Регистрация'
						.fa-user
							text-align: center
							&:hover
								&:after
									content: 'Вход'
						.fa-envelope
							text-align: center
							display: flex
							align-items: center
							&:hover
								&:after
									content: 'Мое объявление'
									font-size: .73em
					&:focus
						outline: 2px dotted #55d7dc
					a
						text-decoration: none
						text-transform: uppercase
						color: $white
						font-size: 1.5em
						span
							font-size: .8em

	main
		grid-area: main
		font-size: 3em
		display: grid
		grid-template-rows: minmax(min-content, max-content)
		grid-template-columns: 1fr 4fr 1fr
		aside
			.ad
				background: $grdient
				font-size: .5em
				height: 100%
				display: flex
				align-items: center
				text-align: center
				color: $white
				font-family: "PT Sans", sans-serif
				font-style: italic
				opacity: .5

	footer
		grid-area: footer
		display: grid
		grid-template-columns: 2fr 1fr
		background: $grdient
		margin-top: 5rem
		padding: 1rem 2rem
		.contact-us
			display: flex
			justify-content: center
			align-items: center
			.wrapper
				text-align: right
				display: flex
				flex-direction: column
				h2
					font-size: 1.75em
					font-family: 'Roboto Condensed', sans-serif
					color: $white
					text-transform: uppercase
					margin-bottom: 1rem
				p
					font-size: 1.2em
					color: $dark_gray
					font-family: 'PT Sans', sans-serif
				h3
					font-size: 1.5em
					color: $white
					margin-top: .5rem
				.soc-networks
					margin-top: 1rem
					display: flex
					justify-content: space-around
					a
						color: #353b48
						transition: .3s
						text-decoration: none
						font-size: 2.5em
						&:nth-child(2n)
							color: #f5f6fa
						&:hover
							transform: rotate3d(0, 1, 0, 180deg)
		.about
			padding: 1rem 2rem
			h2
				color: $white
				font-family: 'PT Sans', sans-serif
				font-size: 2.3em
				margin-bottom: 1rem
			h3
				color: $white
				font-size: 1.5em
				font-family: 'Roboto Condensed', sans-serif
				> strong
					font-style: italic
			#map
				width: 100%
				height: 20rem
				border-radius: .5rem
				border: 5px solid $white
				margin-bottom: 1rem



@keyframes appearing
	from
		margin-left: -5rem
		opacity: 0
	to
		margin-left: .9rem
		opacity: 1

@media all and (max-width: 450px)
	.grid
		header
			.mobile
				display: flex
				.logo
					font-size: 1.5em
			.full
				display: none
		main
			grid-template-columns: 1fr
			aside
				.ad
					font-size: 1em
					p
						margin: 0 auto
		footer
			grid-template-columns: 1fr
			padding: .5rem .1rem
			margin-top: 0
			.about
				text-align: center
			.contact-us
				.wrapper
					text-align: center
					h2
						font-size: 2.5em
					p
						font-size: 1.8em
					h3
						font-size: 1.8em