@import "colors"
@import "fonts"
@import "../css/form.css"

main
	.main-section
		h1
			color: $black
			font-family: 'Roboto Condensed', sans-serif
			font-size: 2em
			text-align: center
			padding: .5rem 1rem
		form
			padding: 1rem 2rem
			display: flex
			flex-direction: column
			input
				font-size: .5em
				font-family: 'Roboto Condensed', sans-serif
			label
				font-family: 'Roboto Condensed', sans-serif
				font-size: .5em
			select
				cursor: pointer
				background: url(../img/select_arrow.png) 95% / 1rem no-repeat
				outline: none
				border-radius: 0
				font-size: .5em
				appearance: none
				padding: .7rem 1.7rem
				display: block
				text-align-last: center

			.comment
				display: flex
				flex-direction: column
				margin-bottom: 2rem
				h3
					font-family: 'PT Sans', sans-serif
					font-weight: 400
				textarea
					width: 100%
					font-size: .5em
					font-family: 'Roboto Condensed', sans-serif
					padding: 1.5rem 2rem
					outline: none
					min-height: 10rem
					border: 2px solid $black
					resize: vertical
					transition: .3s
					&:focus
						border-color: $cyan
			button
				border: 2px solid $black
				font-family: 'Roboto Condensed', sans-serif
				padding: 1rem 2rem
				background: transparent
				outline: none
				cursor: pointer
				transition: .3s
				&:active
					border-color: $cyan
				&:hover
					background: rgba(0, 0, 0, .2)
